*.log
*.toc
*.synctex.gz
*.aux
*.blg
*.bbl
*.out
Signal Generator/Signal Generator/bin/
Signal Generator/Signal Generator/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Signal Generator/Signal Generator/obj/
